<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319634148805-sr4m1o731t0sm9q66gq31u9fiiafkqhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319634148805-sr4m1o731t0sm9q66gq31u9fiiafkqhq</string>
	<key>API_KEY</key>
	<string>AIzaSyC1gjlSKSu5m1TRiJI_896bO1EKUv0_zzo</string>
	<key>GCM_SENDER_ID</key>
	<string>319634148805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kepinmz.ambyar</string>
	<key>PROJECT_ID</key>
	<string>ambyar-7e4fd</string>
	<key>STORAGE_BUCKET</key>
	<string>ambyar-7e4fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319634148805:ios:745f1e4c3b7f6025464fac</string>
</dict>
</plist>